.Info {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 5vh;
}

.services-row {
    display: flex;
    width: 100%;
    height: 10vh;
}

.services-row div {
    flex-grow: 1;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: border 0.1s ease-in;
}

.services-row div:not(.selected):hover {
    border-bottom: 3px solid #5ac8df;
 }

.services-row div.selected {
    border-bottom: 3px solid #facb0b;
    transition: border 0.5s ease-in;
 }

.service-description {
    height: auto;
}

.service-description .show{
    display: block;
}

.service-description .hide{
    display: none;
}

#personalized-consultation {
    background-image: url('../../../assets/personalized_consultation1.png');
}

#personalized-consultation.selected {
    background-image: url('../../../assets/personalized_consultation1_alt.png');
}

#workshops {
    background-image: url('../../../assets/workshops1.png');
}

#workshops.selected {
    background-image: url('../../../assets/workshops1_alt.png');
}

#colaborations {
    background-image: url('../../../assets/colaborations.png');
}

#colaborations.selected {
    background-image: url('../../../assets/colaborations_alt.png');
}

.card-deck {
    margin: 1rem;
}

.card-deck-bottom {
    width: 66%;
    margin: auto;
}

.card-title {
    position: absolute;
    bottom: 1.5rem;
}

.card-text {
    position: absolute;
    bottom: .75rem;
}